body {
  background: linear-gradient(#273b3a80, #f5f7f8, #379777);
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Trirong", serif;
}

/*--------Header------------*/
header {
  background-color: #273b3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*--sticky header--*/
  /* position: fixed;
  top: 0;  */
}

.logo {
  position: relative;
  width: 60%;
}

.containter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.containter a {
  text-decoration: none;
  margin-left: 20px;
  color: #f5f7f8;
  font-size: 24px;
}


/*------------Main---------*/
main {
  background-color: #f5f7f890;
  color: #273b3a;
}

h2 {
  text-align: center;
  color: #379777;
}

hr {
  border: 1px solid #273b3a80;
  width: 100%;
  margin: 20px 0;
}

/*------------Home--------------*/

.text-section {
  flex: 60%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.img-logo {
  margin: 10px;
}

.img-section{
  text-align: center;
}

.img-section img {
  border-radius: 50%;
  width: 70%;

  border: 2px solid #273b3a;
  box-shadow: 0px 4px 25px #45474b;

  margin: 2%;

}

/*------------About-----*/
#about {
  text-align: justify;
}
.row-view{
  display: flex;
}

/*------------Skills-----*/

#skills ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  /*justify-content: space-around;*/
}

#skills ul li {
    border: 2px solid #273b3a80;
    border-left: 5px solid #379777;
    margin: 5px;
    flex: 0 0 30%;
    
}

#skills ul li img{
  padding: 10px;
}
/*------------Connect-----*/

#connect ul{
   display: flex;
   flex-direction: horizontal;
   flex-wrap: wrap;
}

#connect img {
    padding: 10px;
  }
/*--------------------*/

.a-link {
  text-decoration: none;
  color: #273b3a;
  /*centered text*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
    list-style-type: none;
    display: flex;
    flex-direction: horizontal;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center;
    justify-content: center;
  }
  

header,
footer {
  background-color: #273b3a;
  color: #f5f7f8;
  text-align: center;
}

header,
main,
footer {
  margin: 10px 20%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 25px #45474b;
}
